@using Ext.Net
@using Ext.Net.MVC
@model List<Protal.Models.wz_word>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var X = @Html.X();
}
<script type="text/javascript">
    function del(id) {
        if (confirm("你确定要删除该条记录吗？")) {
            location.href = "/Words/Words/Del/" + id;
        }
    }
</script>
<h2>Index</h2>
@(Html.X().GridPanel()
        .Title("Array Grid")
        .Width(600)
        .Store(Html.X().Store()
            .Model(Html.X().Model()
                .Fields(
                    new ModelField("Id"),
                    new ModelField("Content", ModelFieldType.String),
                    new ModelField("AuthName", ModelFieldType.String),
                    new ModelField("Creator", ModelFieldType.String),
                    new ModelField("CreateDate", ModelFieldType.Date, "M/d hh:mmtt")
                )
            )
            .DataSource(Model)
        )
        .ColumnModel(
            Html.X().Column().Text("编号").DataIndex("Id").Flex(1),
            Html.X().Column().Text("内容").DataIndex("Content"),
            Html.X().Column().Text("权限").DataIndex("AuthName"),
            Html.X().Column().Text("创建人").DataIndex("Creator"),
            Html.X().DateColumn().Text("创建时间").DataIndex("CreateDate")
        )
      )
<a href="/Words/Words/Add">添加</a>
<table class="table">
    <tr>
        <th>ID</th>
        <th>内容</th>
        <th>权限</th>
        <th>创建人</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>

    @foreach (Protal.Models.wz_word wz in Model)
    {
        <tr>
            <td>@wz.Id</td>
            <td>@wz.Content</td>
            <td>@wz.AuthName</td>
            <td>@wz.Creator</td>
            <td>@wz.CreateDate</td>
            <td><a href="/Words/Words/Modify/@wz.Id" >修改</a>|<a href="javascript:del(@wz.Id)">删除</a></td>
        </tr>
    }
</table>
